html {
  background-color: #856778;
}
body {
  background-color: #ffcbdb;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-left: 1px solid #16131d;
}

#logoHome {
  width: 120px;
  height: 120px;
  float: left
}

.navegaçãoHome {
  float: right;
}

#tituloHome {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  text-align: center;
}
#headerHome {
  background-color: #16131d;
  border-style: solid;
  color: #ffcbdb;
  border-color: #16131d;
  border-bottom: 2px solid;
  font: right;
}

.fontedança {
  font-family: "Dancing Script", cursive;
}

p{
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 23px;
}

#imagemHome {
  width: 100%;
  height: 150%;
}

#paragrafoHome {
  text-align: center;
}

footer {
  background-color: #16131d;
  color: #ffcbdb;
  border-top: 2px solid  #16131d;
}

#logoFooterHome {
  width: 105px;
  height: 105px;
  float: left;
}

.icone {
  float: right;
  width: 40px;
  right: 40px;
  padding: 3px;
}

#tituloFooter {
  text-align: center;
}

