  html {
    background-color: white;
  }
  body {
    background-color: #fae7e7;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: 1px solid #b29077;
  }

  #logoHome {
    width: 120px;
    height: 120px;
    float: left;
  }

  #navegaçãoHome {
    float: right;
    color: white;
    list-style-type: none;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    width: 130px;
  }

  .corNav {
    color: white;
  }

  p{font-family: 'Mooli', sans-serif; 
  text-align: center;
  }
  ul{font-family: 'Mooli', sans-serif;}

  a{text-decoration: none;}
  
  #tituloHome {
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Italianno', cursive;
    letter-spacing: -1px
  }
  #headerHome {
    background-color: #b29077;
    border-style: solid;
    color: #fae7e7;
    border-color: #b29077;
    border-bottom: 2px solid;
    font: right;
  }

  #imagemHome {
    width: 100%;
    height: 150%;
  }

  #paragrafoHome {
    text-align: center;
  }

  footer {
    background-color: #b29077;
    color: #fae7e7;
    border-top: 3px solid white;
  }

  #logoFooter {
    width: 120px;
    float: left;
    position: relative;
    top: 30px; /* Mova 20 pixels para baixo */
  }

  #tituloFooter {
    text-align: center;
    color: white;
    font-family: 'Italianno', cursive;
    font-size: 60px;
  }

  .icone {
    float: right;
    width: 40px;
    right: 40px;
    padding: 3px;
    position: relative;
    top: 125px; /* Mova 20 pixels para baixo */
    right: 10px;
  }
  
  #paragrafoFooter {
    color: white;
    text-align: center;
  }
