html {
  background-color: #856778;
}
body {
  background-color: #ffcbdb;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-left: 2px solid #856778;
}

#logoHome {
  width: 100px;
  height: 100px;
  float: left;
  padding-left: 10px;
}

.navegaçãoHome {
  text-decoration: none;
  float: right;
  padding: 9px;
  background-color: #16131d;
  font-family: 'Lobster', cursive;
  color: #856778;
  border-bottom: 1px solid #856778;
  border-top: 1px solid #856778;
}

#tituloHome {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #856778;
}
#headerHome {
  background-color: #16131d;
  border-style: solid;
  color: #ffcbdb;
  border-color: #16131d;
  border-bottom: 2px solid;
  font: right;
}

main{
  font-family: "Dancing Script", cursive;
}

#tituloMain{
  text-align: center;
  font-size: 22px;
  color: #856778;
}


#imagemHome {
  width: 100%;
  height: 150%;
}

#paragrafoHome {
  text-align: center;
}

footer {
  background-color: #16131d;
  color: #856778;
  border-top: 2px solid  #856778;
}

#logoFooterHome {
  width: 105px;
  height: 105px;
  float: left;
}

.icone {
  float: right;
  width: 40px;
  right: 40px;
  padding: 3px;
}

#tituloFooter {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #856778;
}



