html {
  background-color: white;
}
body {
  background-color: #fae7e7;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-left: 1px solid #b29077;
}

/*---------------------------------------------------Header-------------------------------------------------------------------*/
#logoHome {
  width: 110px;
  height: 110px;
  float: left;
}

.corNav {
  color: white;
}

#navHome {
  border-bottom: 2px solid #fae7e7;
  border: 1px solid #b29077;
  background-color: #b29077;
  list-style-type: none;
  font-family: "Amatic SC", cursive;
  float: right;
  position: relative;
  right: 20px;
}

a {
  text-decoration: none;
}

#tituloHome {
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: "Italianno", cursive;
  font-weight: normal;
}
#headerHome {
  background-color: #b29077;
  border-bottom: 2px solid #b29077;

}
/*--------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------Main------------------------------------------------------------------------*/
#imagemHome {
  width: 100%;
  height: auto;
}

p {
  font-family: "Mooli", sans-serif;
  text-align: center;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------Footer----------------------------------------------------------------------*/
footer {
  background-color: #b29077;
  border-top: 2px solid white;
  border-radius: 20px 15px 20px;
}

#logoFooter {
  width: 120px;
  float: left;
  position: relative;
  top: 25px; /* Mova 20 pixels para baixo */
}

#tituloFooter {
  text-align: center;
  color: white;
  font-family: "Italianno", cursive;
  font-size: 60px;
  font-weight: normal;
}

.icone {
  float: right;
  width: 40px;
  right: 40px;
  padding: 3px;
  position: relative;
  top: 125px; /* Mova 20 pixels para baixo */
  right: 10px;
}

#paragrafoFooter {
  color: white;
  text-align: center;
  position: relative;
  right: 10px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/


@media (max-width: 780px) {
  #tituloHome {
    font-size: 30px;
  }
  /*---------------------------------------------------Header--------------------------------------------------------------------------*/
  body {
    font-size: 12px;
  }

  #imagemHome {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  #logoHome {
    width: 50px;
    height: 50px;
    position: relative;
  }

  #navHome {
    float: right;
    color: white;
    list-style-type: none;
    font-family: "Amatic SC", cursive;
    font-size: 9px;
    position: relative;   
    /* Move o elemento 20 pixels para a direita */
  }
  /*-----------------------------------------------------------------------------------------------------------------------------------*/

  /*---------------------------------------------------------Footer--------------------------------------------------------------------*/
  #tituloFooter {
    font-size: 28px;
    position: relative;
    left: 10px;
  }

  #logoFooter {
    width: 60px;
    height: 60px;
    position: relative;
    top: 15px;
  }
  .icone {
    width: 18px;
    padding: 3px;
    position: relative;
    top: 55px; /* Mova 20 pixels para baixo */
    right: 0px;
  }
  #paragrafoFooter {
    position: relative;
    left: 1px;
  }
}
  /*-----------------------------------------------------------------------------------------------------------------------------------*/
