html {
  background-color: #fae7e7;
}
body {
  background-color: #fae7e7;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-left: 1px solid #b29077;
  border-right: 1px solid #b29077
}

/*---------------------------------------------------Header-------------------------------------------------------------------*/
header{
  background-color: #b29077;
  border-bottom: 2px solid #b29077;
  border-radius: 20px 15px 20px;
}

#logoHeader {
  height: auto;
  height: 110px;
  float: left;
}

.corNav {
  color: white;
}

#navHeader {
  list-style-type: none;
  border-bottom: 2px solid #b29077;
  border: 1px solid #b29077;
  background-color: #b29077;
  font-family: "Amatic SC", cursive;
  float: right;
  position: relative;
  right: 20px;
}

a {
  text-decoration: none;
}

#tituloHeader{ 
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: "Italianno", cursive;
  font-weight: normal;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------Main------------------------------------------------------------------------*/
#imagemHome {
  width: 100%;
  height: auto;
}

p {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

ul {
  font-family: "Amatic SC", cursive;
  font-size: 17px;

}
/*---------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------Footer----------------------------------------------------------------------*/
footer {
  background-color: #b29077;
  border-top: 2px solid white;
  border-radius: 20px 15px 20px;
}

#logoFooter {
  width: 120px;
  float: left;
  position: relative;
  top: 25px; /* Mova 20 pixels para baixo */
}

#tituloFooter {
  text-align: center;
  color: white;
  font-family: "Italianno", cursive;
  font-size: 70px;
  font-weight: normal;
  position: relative;
  right: 60px;
}

.icone {
  float: right;
  width: 40px;
  right: 40px;
  padding: 3px;
  position: relative;
  top: 125px; /* Mova 20 pixels para baixo */
  right: 10px;
}

#paragrafoFooter {
  color: white;
  text-align: left;
  font-size: 15px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/


