html{
    background-color: white;
}

body{
    background-color: #fae7e7;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: 1px solid #b29077;
}

header{

    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 17px;
    background-color: #b29077;
    border-style: 1px solid;
    border-color: #b29077;
    border-bottom: 2px solid;
    font: right;
    border-radius: 20px 15px 20px;
    font-family: 'Mooli', sans-serif;
    height: 10rem;
}


#titulo{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-weight: bold;
}

nav{
    color: white;
    list-style-type: none;
    
}

.logo{
    height: 8rem;
    width: 8rem;
    float: left;
}

.home{
    
}

#capa{
    height: auto;
    width: 100%;
}
