*{
    margin: 0px;

}

body{
    background-color: #fae7e7;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: 1px solid #b29077;
    border-right: 1px solid #b29077;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
    
}

h2{
    text-align: center;
}

section{
    margin-left: 5em;
}

header{

    color: white;
    font-family: "Amatic SC", cursive;
    font-size: 17px;
    background-color: #b29077;
    border-color: #b29077;
    width: 100%;
    padding: 3rem 0;
    border-bottom: 2px solid #000000;
}

/* nome da empresa */
.nome{
    text-justify: center;
    text-align: center;
    font-family: "Italianno", cursive;
    font-weight: normal;
    font-size: 60px;

}

/* posição no navegador */
nav{

    float: right ;
    position: relative;
    left: auto;
    right: 2rem;
    bottom: 6rem;
    font-size: 1.5em;
    

}

/* lista do navegador */
nav a{
    list-style-type: none;
    color: white;
    text-decoration: none;
    border: 1px solid #6b4226;
    text-justify: center;
    text-align: center;
    
    
}

/* lista do navegador  */
#navegador{
    list-style-type: none;
}

.logo{
    height: auto;
    width: 10rem;
    float: left;

}

/* posição da logo no cabeçario */
.cab{
    position: relative;
    left: 1rem;
    bottom: 7rem; 
    
}

/* posição da imagem de capa da pg */
#capa{
    height: auto;
    width: 100%;    
}

footer{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    background-color: #b29077;
    border-color: #b29077;
    width: 100%;
    padding: 3rem 0;
    border-top: 2px solid #000000;

}

/* copy */
footer p{   
    text-align: center;
}

#doces1{
    display: flex;
    justify-content: space-around;
}

.doce{
    border-radius: 10%;
    height: 15%;
    width: 15%;
    margin-top: 10px;
}