*{
    margin: 0%;

}

body{
    background-color: #fae7e7;
}

header{

    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 17px;
    background-color: #b29077;
    border-color: #b29077;
    width: 100%;
    padding: 4rem 0;
}

/* nome da empresa */
.nome{
    text-justify: center;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-weight: bold;
}

/* posição no navegador */
nav{

    float: right ;
    position: relative;
    left: auto;
    right: 2rem;
    bottom: 4rem;
    
}

/* lista do navegador */
nav a{
    list-style-type: none;
    color: white;
    text-decoration: none;
}

/* lista do navegador  */
#navegador{
    list-style-type: none;
}

.logo{
    height: auto;
    width: 10rem;
    float: left;

}

/* posição da logo no cabeçario */
.cab{
    position: relative;
    left: 1rem;
    top: 0%;
    bottom: 6rem;
    right: 0%;  
    
}

/* posição da imagem de capa da pg */
#capa{
    height: auto;
    width: 100%;
    
}

#doces{
      
}

footer{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 17px;
    background-color: #b29077;
    border-color: #b29077;
    width: 100%;
    padding: 4rem 0;
}

/* posição da logo no rodapé */
.rod{
    position: relative;
    left: 1rem;
    top: 0%;
    bottom: 4rem;
    right: 0%;
}

/* copy */
footer p{
    float: right;
}