* {
  margin: 0;
  font-family: "Amatic SC", cursive;
}

body {
  background-color: #fae7e7;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-left: 1px solid #b29077;
  border-right: 1px solid #b29077;
  font-size: 1.5rem;
}

#doces1{
  display: flex;
  justify-content: space-around;
}

.doce{
  border-radius: 10%;
  height: 15%;
  width: 15%;
  margin-top: 10px;
}

.doce:hover{
transform: scale(1.2);
transition: .6s;
}

header {
  background-color: #b29077;
  border-color: #b29077;
  color: white;
  height: 11.1rem;
  border-bottom: 2px solid #000000;
}

#logo {
  height: auto;
  width: 9rem;
  float: left;
  position: relative;
  left: 1rem;
  top: 1.5rem;
}
/*titulo da pagina*/
h2 {
  font-family: "Italianno", cursive;
  font-size: 5rem;
  font-weight: normal;
  width: 22rem;
  position: relative;
  top: auto;
  left: 37%;
  right: 34%;
  bottom: 8.5rem;
  text-align: center;
}
/*posição navegador*/
nav {
  display: grid;
  justify-content: end;
  padding: 2rem;
  position: relative;
}
/*estilização do texto*/
nav a {
  list-style-type: none;
  color: white;
  text-decoration: none;
  border: 1px solid #b29077;
  
}

img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #b29077;
  border-color: #b29077;
  color: white;
  border-top: 2px solid #000000;
  height: 11.1rem;
}

#titulofooter{
  bottom: 0.8rem;
}

footer a img{
  right: 1rem;
  width: 2rem;
  float: right;
  padding: 0.3rem;
  position: relative;
  top: 5rem;
}

/* copy */
footer p{  
  position: relative;
  top: 7rem;
  padding: 1rem;
  text-align: left;
}

p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

a:hover{
  transform: scale(1.5);
  transition: 1.6s;
  
}


