div {
  border: solid 1px rgb(0, 0, 0);
  margin-top: 50px; /*tag margin serve para deixar espaçamento na margem da div*/
  margin-right: 30px; /*Direito*/
  margin-bottom: 50px;
  margin-left: 50px;
  /*        T    D     B    E*/
  /*margin 50px 50px; 50px 50px;*/
}
p {
  border: solid 1px rgb(0, 225, 255);
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  /*padding: 15px 10px 15px 10px*/
}
